<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pam_project">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PAMProject">
        <activity android:name=".lists.lists.createListActivity.CreateListActivity"
            android:parentActivityName=".lists.lists.listActivity.ListActivity"/>
        <activity android:name=".lists.lists.listActivity.ListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".lists.tasks.CreateTaskActivity"
            android:parentActivityName=".lists.tasks.TaskActivity" />
        <activity android:name=".lists.tasks.TaskActivity"
            android:parentActivityName=".lists.lists.listActivity.ListActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="pam"/>
                <data android:host="detail" android:pathPrefix="/list" />
            </intent-filter>
        </activity>
        <activity android:name=".lists.categories.CategoriesActivity"/>
        <activity android:name=".landing.WelcomeActivity"/>
        <activity android:name=".lists.lists.editListActivity.EditListActivity"
            android:parentActivityName=".lists.tasks.TaskActivity" />
    </application>

</manifest>