<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pam_project">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name=".database.utils.MainApplication"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@drawable/app_icon_image"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PAMProject">
        <activity
            android:name=".features.lists.create.CreateListActivity"
            android:parentActivityName=".features.lists.list.ListActivity" />
        <activity android:name=".features.lists.list.ListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".features.tasks.list.TaskActivity"
            android:parentActivityName=".features.lists.list.ListActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="pam" />
                <data
                    android:host="detail"
                    android:pathPrefix="/list" />
            </intent-filter>
        </activity>
        <activity android:name=".features.tasks.create.CreateTaskActivity" />
        <activity
            android:name=".features.categories.list.CategoryActivity"
            android:parentActivityName=".features.lists.list.ListActivity" />
        <activity android:name=".landing.WelcomeActivity" />
        <activity android:name=".features.lists.edit.EditListActivity" />
        <activity
            android:name=".features.categories.create.CreateCategoryActivity"
            android:parentActivityName=".features.categories.list.CategoryActivity" />
        <activity
            android:name=".features.categories.edit.EditCategoryActivity"
            android:parentActivityName=".features.categories.list.CategoryActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="pam" />
                <data
                    android:host="edit"
                    android:pathPrefix="/category" />
            </intent-filter>
        </activity>
        <activity
            android:name=".features.tasks.edit.EditTaskActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="pam" />
                <data
                    android:host="edit"
                    android:pathPrefix="/task" />
            </intent-filter>
        </activity>
        <activity
            android:name=".features.others.about.AboutActivity">
        </activity>
    </application>

</manifest>